<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>


# ***Space X Falcon 9 First Stage Landing Prediction***

In this lab, we will perform some Exploratory Data Analysis (EDA) to find some patterns in the data and determine what would be the label for training supervised models.

In the data set, there are several different cases where the booster (refuerzo) did not land successfully. Sometimes a landing was attempted but failed due (debido) to an accident.

$ \ $

------

## ***Example (booster outcomes).***

* $\color{yellow}{\text{True Ocean}}$ means the mission outcome was successfully landed to a specific region of the ocean while. 

* $\color{yellow}{\text{False Ocean}}$ means the mission outcome was unsuccessfully landed to a specific region of the ocean. 

* $\color{orange}{\text{True RTLS}}$ means the mission outcome was successfully landed to a ground pad.

* $\color{orange}{\text{False RTLS}}$ means the mission outcome was unsuccessfully landed to a ground pad.

* $\color{aquamarine}{\text{True ASDS}}$ means the mission outcome was successfully landed on a drone ship. 

* $\color{aquamarine}{\text{False ASDS}}$ means the mission outcome was unsuccessfully landed on a drone ship.

In this lab we will mainly convert those outcomes into Training Labels with 1 means the booster successfully landed 0 means it was unsuccessful.

$ \ $

----

### ***Falcon 9 first stage will land successfully.***

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing\_1.gif)

$ \ $

----

### ***Several examples of an unsuccessful landing are shown here:***

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

$ \ $

-----

## ***Objectives.***

Perform exploratory Data Analysis and determine Training Labels:

*   Exploratory Data Analysis.

*   Determine Training Labels.

$ \ $

-----

## ***Import Libraries and Define Auxiliary Functions.***

We will import the following libraries.

In [1]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd

#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

$ \ $

----

## ***Data Analysis.***

$(1)$ Load SpaceX dataset, from last section.

In [2]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

$ \ $

$(2)$ Identify and calculate the percentage of the missing values in each attribute.

In [3]:
df.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        0
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

In [4]:
df.count()

FlightNumber      90
Date              90
BoosterVersion    90
PayloadMass       90
Orbit             90
LaunchSite        90
Outcome           90
Flights           90
GridFins          90
Reused            90
Legs              90
LandingPad        64
Block             90
ReusedCount       90
Serial            90
Longitude         90
Latitude          90
dtype: int64

In [5]:
a = df.isnull().sum()
b = df.count()

porcentage = (a/b)*100
porcentage

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

$ \ $

$(3)$ Identify which columns are numerical and categorical:

In [6]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

$ \ $ 

-----


## ***Note (data info).***

The data contains several SpaceX launch facilities: 

* Cape Canaveral Space Launch Complex 40 VAFB SLC 4E 

* Vandenberg Air Force Base Space Launch Complex 4E (SLC-4E)

* Kennedy Space Center Launch Complex 39A KSC LC 39A 

The location of each Launch is placed in the column LaunchSite.

$ \ $

---

## ***TASK 1: Calculate the number of launches on each site.***

Let's see the number of launches for each site. For this part we will use the method 

$$\color{aquamarine}{\text{value_counts()}}$$

on the column LaunchSite to determine the number of launches on each site.

In [7]:
df["LaunchSite"].head()

0    CCAFS SLC 40
1    CCAFS SLC 40
2    CCAFS SLC 40
3     VAFB SLC 4E
4    CCAFS SLC 40
Name: LaunchSite, dtype: object

In [8]:
df.columns

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude',
       'Latitude'],
      dtype='object')

In [9]:
# Apply value_counts() on column LaunchSite
df["LaunchSite"].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

$ \ $

----

## ***Note (previous result).***

Each launch aims (apunta) to an dedicated orbit, and here are some common orbit types:

$\color{aquamarine}{\text{(1) LEO = Low earth orbit:}}$ It is an Earth-centred orbit with an altitude of 2,000 km (1,200 mi) or less (approximately one-third of the radius of Earth) or with at least 11.25 periods per day (an orbital period of 128 minutes or less) and an eccentricity less than 0.25 Most of the manmade (artifical) objects in outer space are in LEO [[1]](https://en.wikipedia.org/wiki/Low_Earth_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)




$\color{aquamarine}{\text{(2) VLEO = Very low earth orbits:}}$ It can be defined as the orbits with a mean altitude below 450 km. Operating in these orbits can provide a number of benefits to Earth observation spacecraft as the spacecraft (astronave) operates closer to the observation [[2]](https://www.researchgate.net/publication/271499606_Very_Low_Earth_Orbit_mission_concepts_for_Earth_Observation_Benefits_and_challenges?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)


$\color{aquamarine}{\text{(3) GTO = geosynchronous orbit:}}$ It is a high Earth orbit that allows satellites to match Earth's rotation. Located at 22,236 miles (35,786 kilometers) above Earth's equator, this position is a valuable spot (lugar valioso) for monitoring weather, communications and surveillance (vigilancia). Because the satellite orbits at the same speed that the Earth is turning, the satellite seems to stay in place over a single longitude, though it may drift north (deriva hacia el norte) to south [[3]](https://www.space.com/29222-geosynchronous-orbit.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)


$\color{aquamarine}{\text{(4)  SSO = Sun-synchronous orbit (or SO):}}$ It is a nearly polar orbit around a planet, in which the satellite passes over any given point of the planet's surface at the same local mean solar time [[4]](https://en.wikipedia.org/wiki/Sun-synchronous_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)



$\color{aquamarine}{\text{(5) ES-L1: }}$ At the Lagrange points the gravitational forces of the two large bodies cancel out in such a way that a small object placed in orbit there is in equilibrium relative to the center of mass of the large bodies. L1 is one such point between the sun and the earth [[5]](https://en.wikipedia.org/wiki/Lagrange_point?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01#L1_point)



$\color{aquamarine}{\text{(6) HEO = highly elliptical orbit:}}$ It is an elliptic orbit with high eccentricity, usually referring to one around Earth [[6]](https://en.wikipedia.org/wiki/Highly_elliptical_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)



$\color{aquamarine}{\text{(7) ISS:}}$ It is a modular space station (habitable artificial satellite) in low Earth orbit. It is a multinational collaborative project between five participating space agencies: NASA (United States), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada) [[7]](https://en.wikipedia.org/wiki/International_Space_Station?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)


$\color{aquamarine}{\text{(8) MEO:}}$ Geocentric orbits ranging in altitude from 2,000 km (1,200 mi) to just below geosynchronous orbit at 35,786 kilometers (22,236 mi). Also known as an intermediate circular orbit. These are "most commonly at 20,200 kilometers (12,600 mi), or 20,650 kilometers (12,830 mi), with an orbital period of 12 hours [[8]](https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)



$\color{aquamarine}{\text{(9) HEO:}}$ It is a geocentric orbits above the altitude of geosynchronous orbit (35,786 km or 22,236 mi) [[9]](https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)


$\color{aquamarine}{\text{(10) GEO:}}$ It is a circular geosynchronous orbit 35,786 kilometres (22,236 miles) above Earth's equator and following the direction of Earth's rotation [[10]](https://en.wikipedia.org/wiki/Geostationary_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)


$\color{aquamarine}{\text{(11) PO:}}$ It is one type of satellites in which a satellite passes above or nearly above both poles of the body being orbited (usually a planet such as the Earth [[11]](https://en.wikipedia.org/wiki/Polar_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01)



some are shown in the following plot:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

$ \ $

----

## ***TASK 2: Calculate the number and occurrence of each orbit.***

Use the method  <code>.value_counts()</code> to determine the number and occurrence of each orbit in the  column <code>Orbit</code>.

In [10]:
df["Orbit"].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

$ \ $

----

## ***TASK 3: Calculate the number and occurence of mission outcome per orbit type.***

$(1)$ Use the method <code>.value_counts()</code> on the column <code>Outcome</code> to determine the number of <code>landing_outcomes</code>.Then assign it to a variable landing_outcomes.

In [11]:
landing_outcomes = df["Outcome"].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

In [12]:
list(landing_outcomes.keys())

['True ASDS',
 'None None',
 'True RTLS',
 'False ASDS',
 'True Ocean',
 'False Ocean',
 'None ASDS',
 'False RTLS']

In [13]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i, outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

$ \ $ 

$(2)$ We create a set of outcomes where the second stage did not land successfully:

In [14]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

$ \ $

-----

## ***TASK 4: Create a landing outcome label from Outcome column.***

$(1)$ Using the Outcome, create a list where:

* The element is $0$, if the corresponding row in Outcome is in the set bad_outcome.

* The element is $1$, if the corresponding row in Outcome is not in the set bad_outcome.

* Assign it to the variable landing_class.

In [15]:
landing_class = list()

for x in list(df["Outcome"]):
  if x in bad_outcomes:
    landing_class.append(0)
  else:
    landing_class.append(1)

$ \ $

$(2)$ This variable will represent the classification variable that represents the outcome of each launch. If the value is zero, the first stage did not land successfully; one means the first stage landed Successfully.

In [16]:
df["Class"] = landing_class
df["Class"].head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

$ \ $

$(3)$ We can use the following line of code to determine the success rate:

In [17]:
df["Class"].mean()

0.6666666666666666

$ \ $

$(4)$ We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

In [18]:
df.to_csv("dataset_part_2.csv", index = False)